.falling-note {


  position: absolute;
  width: 25px;
  height: 20px;
  background-color: #00AEEF;
  border-radius: 4px;
  animation: fall linear;
  animation-fill-mode: forwards;
  z-index: 4;
}

@keyframes fall {
  0%   { top: 0px; opacity: 1; }
  90%  { opacity: 1; }
  100% { top: 310px; opacity: 0; }
}
