/* Contenedor general del piano, permite scroll horizontal y ubica los elementos */
.piano-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 22rem; /* Espacio para la mano no se encime sobre el piano*/
}

/* Contenedor de teclas */
.piano {
  display: flex;
  width: max-content; /* Se ajusta al tamaño total de teclas */
  position: relative;
  margin-left: 10rem;
}

/* Contenedor de la mano, centrado horizontalmente */
.hand-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding-top: 1rem;
}

.pressed-notes {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.hand-overlay {
  position: absolute;
  top: 0;
  z-index: 20;
  transition: left 0.1s ease;
}

.piano-header {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end;
  background-color: #1f1f22; /* o el color de fondo del resto de tu app */
}

.volver-btn {
  background-color: #19a7ff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.volver-btn:hover {
  background-color: #0c85d0;
}

.practice-control {
  position: absolute;
  top: 180px; /* Debajo de la mano */
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  text-align: center;
}

.start-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #00bfff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.countdown {
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
}

.start-button-wrapper {
  position: absolute;
  top: 225px; /* Altura del botón de inicio */
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.countdown-display {
  position: absolute;
  top: 225px; /* Atura del display, igual al del inicio */
  width: 100%;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #00BFFF;
  z-index: 10;
}

.impact-line {
  position: absolute; 
  top: 300px; /* si containerHeight = 300px */
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #ff0055;
  z-index: 1;
}


.score-wrapper {
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 1rem;
}